<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctbu.javateach666.dao.MultipleChoiceDao">
    
	<sql id="MultipleColumns">
	a.id AS "id",
	a.couse_id AS "course.id",
	a.multiple_title AS "multipleTitle",
	a.answerA AS "answera",
	a.answerB AS "answerb",
	a.answerC AS "answerc",
	a.answerD AS "answerd",
	a.multiple_answer AS "multipleAnswer",
	a.degree AS "degree",
	a.create_time AS "createTime",
	a.is_delete AS "isDelete",
	
	
	b.couname AS "course.couname",
	b.couname AS "couname"
	</sql>
	
	<sql id="MultipleJoins">
	left join course b on b.id = a.couse_id
	left join teacourse tc on tc.couid = b.id
	</sql>
	
	<select id="get" resultType="com.ctbu.javateach666.pojo.po.questions.MultipleChoice">
		SELECT 
			<include refid="MultipleColumns"/>
		FROM multiplechoice a
		<include refid="MultipleJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.ctbu.javateach666.pojo.po.questions.MultipleChoice">
		SELECT 
			<include refid="MultipleColumns"/>
		FROM multiplechoice a
		<include refid="MultipleJoins"/>
		<where>
		 a.is_delete = '0'
		 <if test="course != null and course.id !=null and course.id !=''">
		  and a.couse_id = #{course.id}
		 </if>
		 <if test="multipleTitle !=null and multipleTitle !=''">
		  and a.multiple_title LIKE CONCAT('%',#{multipleTitle},'%') 
		 </if>
		 <if test="degree !=null and degree !=''">
		  and a.degree = #{degree}
		 </if>
		 <if test="bTime !=null and bTime !=''">
		  and a.create_time &gt;= #{bTime}
		 </if>
		 <if test="eTime !=null and eTime !=''">
		  and a.create_time &lt;= #{eTime}
		 </if>
		 <if test="teaId !=null and teaId !=''">
		  and tc.teaid = #{teaId}
		 </if>
		</where>
	</select>
	
	<insert id="insert">
		INSERT INTO multiplechoice(
			id,
			couse_id,
			multiple_title,
			answerA,
			answerB,
			answerC,
			answerD,
			multiple_answer,
			degree,
			create_time,
			is_delete
		) VALUES (
			#{id},
			#{course.id},
			#{multipleTitle},
			#{answera},
			#{answerb},
			#{answerc},
			#{answerd},
			#{multipleAnswer},
			#{degree},
			#{createTime},
			0
		)
	</insert>
	<update id="update">
		UPDATE multiplechoice SET 	
			couse_id = #{course.id},
			multiple_title = #{multipleTitle},
			answerA = #{answera},
			answerB = #{answerb},
			answerC = #{answerc},
			answerD = #{answerd},
			multiple_answer = #{multipleAnswer},
			degree = #{degree},
			create_time = #{createTime}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM multiplechoice
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE multiplechoice SET 
			is_delete = 1
		WHERE id = #{id}
	</update>
	
</mapper>